@font-face {
    font-family: 'Couture Bold';
    src: url('/fonts/couture-bld.ttf');
}

* {
    box-sizing: border-box;
}

.home-first-container {
    padding: clamp(1rem, 5vw, 5rem) clamp(1rem, 5vw, 7.5rem);
}

.home-first-container #title {
    font-family: 'Couture Bold', 'sans-serif';
    font-size: clamp(1.5rem, 5vw, 5rem);
    animation: swipefromleft 1s ease-out;
    display: inline-block;
    line-height: 1;
}

.home-first-container #title span {
    display: inline-block;
    animation: swipefromleft 1s ease-out;
    animation-delay: calc(0.2s * var(--index));
    margin-right: clamp(0rem, 1vw, 2rem);
}

@keyframes swipefromtop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.home-first-content p {
    font-family: 'Couture Bold', 'sans-serif';
    font-size: clamp(1.5rem, 5vw, 3rem);
    animation: swipefromtop 1s ease-out;
    color: #fff;
    line-height: 1.2;
}

.home-first-content p.loop {
    font-size: clamp(2rem, 5vw, 5rem);
    color: #E25E3E;
    text-shadow: #E25E3E 0px 0px 10px;
}

.home-first-container img {
    width: 420px;
    height: 420px;
}