@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #E25E3E #fff;
}

/* body {
    background-image: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(255,165,0,1) 50%, rgba(0,0,0,1) 100%);
} */

.navbar {
    height: clamp(80px, 10vw, 120px);
    padding: clamp(0px, 5vw, 20px);
    z-index: 1000;
    transition: all 0.7s ease;
}

@keyframes swipeFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar.stickTop {
    height: clamp(60px, 10vw, 80px);
    padding: clamp(0px, 5vw, 10px);
    transition: all 0.7s ease;
}

.logo-box a span {
    font-family: 'Montserrat', 'sans-serif';
    font-size: clamp(26px, 5vw, 38px);
    font-weight: 700;
    background: linear-gradient(to right, #E25E3E 52%, #fff 48%);
    background-clip: text;
    color: transparent;
    transition: all 2s ease;
    mask-image: linear-gradient(45deg, #fff 25%, rgba(0, 0, 0, 0.5) 50%, #fff 75%);
    mask-size: 800%;
    mask-position: 0;
}

.logo-box a span::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: 0.7s all;
}

.logo-box a span.begAfterAni::after {
    width: 50%;
    margin-left: 50%;
    transition: 0.7s all;
}

.logo-box a span:hover::after {
    width: 50%;
    margin-left: 50%;
    transition: 0.7s all;
}

.navbar.stickTop .logo-box a span {
    font-size: clamp(16px, 5vw, 32px);
}

.logo-box a span:hover {
    transition: mask-position 2s ease;
    mask-position: 120%;
    opacity: 1;
}

/* .logo-box a img {
    height: clamp(60px, 6vw, 80px);
    width: auto;
} */

.hamburger>button>svg {
    height: clamp(34px, 5vw, 40px);
}

.navigation-link {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(16px, 5vw, 24px);
    transition: all 0.5s;
    cursor: pointer;
}

.menu-nav-links svg {
    height: clamp(16px, 5vw, 24px);
    transition: d 1s ease-in-out;
}

.menu-nav-links .navigation-link.active {
    color: #E25E3E;
}

@keyframes subMenuEffect {
    0% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}


.sub-menu.sub-menu-exit {
    transform: translateY(-5%);
    opacity: 0.2;
    transition: transform 0.5s ease-in-out;
}

.menu-nav-links .sub-menu {
    width: auto;
    min-width: 100%;
    padding: clamp(0px, 2vw, 10px) 0;
    transition: all 1s;
    animation: subMenuEffect 0.5s ease;
}

.navbar .nav-items {
    height: 100%;
    margin-right: clamp(0px, 5vw, 20px);
}

@keyframes swipingDownEffect {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-items .sub-menu {
    width: auto;
    min-width: 100%;
    padding: clamp(0px, 5vw, 20px);
    transition: all 1s;
    cursor: default;
    animation: swipingDownEffect 0.5s ease;
}

.sub-menu a {
    font-size: clamp(10px, 2vw, 18px);
    width: max-content;
    padding: clamp(0px, 2vw, 20px);
}

.sub-menu a span {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(18px, 2vw, 25px);
}

.sub-menu a p {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(14px, 2vw, 20px);
}

.sub-menu .sub-heading {
    font-family: "Oswald", sans-serif;
    font-size: clamp(14px, 2vw, 28px);
    font-weight: 800;
    letter-spacing: 0.15rem;
}

.navbar .nav-items .sub-menu a:hover {
    color: #E25E3E;
}

.navbar .nav-items svg {
    height: clamp(10px, 2vw, 24px);
}

.navbar.stickTop .nav-items a {
    font-size: clamp(8px, 2vw, 20px);
}

.navbar.stickTop .nav-items svg {
    height: clamp(8px, 2vw, 20px);
}

.navbar .nav-items .navigation-link:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.navbar .nav-items .navigation-link.active {
    color: #E25E3E;
}

.navbar .nav-items .navigation-link {
    margin-right: clamp(0px, 5vw, 65px);
}

.navbar .nav-items .navigation-link .sub-menu a {
    margin: 0;
    width: max-content;
}



/* .navbar .getstarted-btn a {
    background-color: #E25E3E;
    padding: clamp(0px, 2vw, 13px) clamp(0px, 2vw, 15px);
    border-radius: 50px;
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(12px, 2vw, 18px);
    color: white;
    transition: all 0.5s;
}

.navbar .getstarted-btn a:hover {
    box-shadow: 0px 0px 4px black;
    transform: scale(1.02);
} */

.sidebar {
    left: -100vw;
    transition: left 0.5s ease-in-out;
}

.sidebar.open {
    left: 0;
    transition: left 0.5s ease-in-out;
}

.sidebar-content {
    padding: 20px;
}


@media (min-width: 0px) and (max-width: 1024px) {
    .menu-nav-links .navigation-link {
        font-size: clamp(24px, 5vw, 32px);
    }
    .menu-nav-links .navigation-link .sub-menu a span  {
        font-size: clamp(20px, 5vw, 28px);
    }
}