@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #E25E3E #fff;
}

.navbar {
    height: clamp(80px, 10vw, 120px);
    padding: clamp(0px, 5vw, 20px);
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.02);
}

@keyframes rotate360 {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo-box a img {
    animation: rotate360 500ms linear both;
}

.logo-box a img {
    height: clamp(60px, 6vw, 80px);
    width: auto;
}

.hamburger>button>svg {
    height: clamp(20px, 10vw, 40px);
}

.menu {
    padding: clamp(0px, 5vw, 25px) 0;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.1);
}

.menu .menu-nav-links a {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(16px, 5vw, 24px);
    transition: all 0.7s;
    color: white;
    cursor: pointer;
}

.menu .menu-nav-links a.active {
    color: #E25E3E;
}

.navbar .nav-items {
    height: 100%;
    margin-right: clamp(0px, 5vw, 20px);
}

.navbar .nav-items a {
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(10px, 2vw, 24px);
    transition: all 0.7s;
}

.navbar .nav-items a:hover {
    scale: 1.02;
    cursor: pointer;
}

.navbar .nav-items a.active {
    color: #E25E3E;
}

.navbar .nav-items a:not(:last-child) {
    margin-right: 65px;
}

.navbar .nav-items *.active::after {
    width: 100%;
}

.navbar .nav-items a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.7s all;
}

.navbar .nav-items a:hover::after {
    width: 100%;
}

/* .navbar .getstarted-btn a {
    background-color: #E25E3E;
    padding: clamp(0px, 2vw, 13px) clamp(0px, 2vw, 15px);
    border-radius: 50px;
    font-family: 'Titillium Web', 'sans-serif';
    font-size: clamp(12px, 2vw, 18px);
    color: white;
    transition: all 0.5s;
}

.navbar .getstarted-btn a:hover {
    box-shadow: 0px 0px 4px black;
    transform: scale(1.02);
} */

@media (min-width: 0px) and (max-width: 1024px) {
    .navbar {
        padding: 0;
    }
}